header {
    background-color: #98531a;
}
h1 {
    font-size: 50px;
    text-align: center;
    width: 200px;
    height: 133px;
    padding-top: 0.7em;
    background: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #EBCF9D;
    font-family: 'Dancing Script', cursive;
}
#navbar-collapse-1 {
    background-color: #502b0e;
}

.navbar-brand:hover {
    color: #EBCF9D;
}
nav a {
    color: #ebcf90;
    border-radius: 5px;
}
nav li a:hover{
    background-color: #ebcf90 !important;
    color:  #482306;
}

nav li a:focus {
    background-color: #ebcf90 !important;
    color:  #482306;
}
#seach {
    margin-left: 1em;
}
.btn-lg {
    margin-left: 10.5em;
    color: #ebcf90;
}

a.dropdown-toggle {
    color: #ebcf90;
    margin-right: 0.5em;
}
.navbar-right .dropdown-menu {
    min-width: 15em;
    padding:  0.5em;
}

button.dropdown-toggle {
    background-color: #502b0e;
    color: #ebcf90;
    border: 1px solid #502b0e;
}
button.dropdown-toggle:hover {
    color: #ebcf90;
}
button.dropdown-toggle:focus {
    color: #ebcf90;
}

div.input-group-btn > ul:nth-child(2) {
    background-color: #98531a;
}
div.input-group-btn > ul:nth-child(2) > li > a {
    color: #ebcf90;
}

div.input-group-btn > ul:nth-child(2) > li > a:hover {
    background-color: #6a4727;
    color: #ebcf90;
}

p {
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #98531a;
    color: #ebcf90;
    text-align: center;
    padding-top: 1em;
}

#social_nav {
    background-color: #482306;
    margin: 0;
    padding: 1em;
}
#social_nav li a i {
    color: #ebcf90;
    font-size: 20px;
}
#copyright {
    margin-top: 1em;
    font-size: 10px;
}

main {
    background-color: #ebcf90;
    padding: 3em;
}

#pres {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: #98531a;
}

.aboutus {
    color: #482306;
}

h3 {
    color: #482306;
    text-align: center;
}


.top-products img {
    margin-left: 2em;
}

.top-products > div {
    text-align: center;
    padding: 0.5em;
}

.top-products p {
    max-width: 98%;
    margin-top: 1em;
}

.top-products button.btn {
    background-color: #482306;
        color: #ebcf90;
}
